{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">

    <h3 style="text-align: center; font-weight: bolder">{{blog.blog_name}}</h3>
    <hr>
    <p style="justify-content:space-evenly">{{blog.blog_info}}</p>
    <h4 style="font-weight: bold">Posted at: {{blog.date_posted}}<h4>

</div>
<hr>
<h3>Comments Section</h3>
<hr>
<div class="container">
    {{ wtf.quick_form(commentform) }}
    <!-- {{simplemde.load}} -->
</div>
<hr>
{% if comments %}
 {% for comment in comments %}
 <h5 style="font-family:cursive; font-style: italic">{{comment.username}} wrote:</h5>
 <ol><li>{{comment.comment}}</li></ol>

 {% endfor %}
{% else %}
<hr>
<p>This post has no comments yet</p>
{% endif %}

{%endblock%}
